In [ ]:
# exploratory analysis

In [1]:
# Stats of interest:
# Greatest volatility one day?
# Num records
# Avg close
# Avg volatility one day
# Growth (total, 1yr, 5yr, etc)

In [3]:
import pandas as pd

In [4]:
rs = pd.read_csv("stock_market_data-AAPL.csv")

In [4]:
rs.head()

   Unnamed: 0        Date      Low    High   Close    Open
0        5453  2021-07-06  140.070  143.15  142.02  140.07
1        5452  2021-07-02  137.745  140.00  139.96  137.90
2        5451  2021-07-01  135.760  137.33  137.27  136.60
3        5450  2021-06-30  135.870  137.41  136.96  136.17
4        5449  2021-06-29  134.350  136.49  136.33  134.80

In [ ]:
avg_close = rs["Close"].mean()

In [ ]:
avg_close

In [ ]:
min(date), max(date)

In [ ]:
len(rs)

In [5]:
date, close = rs["Date"], rs["Close"]

In [6]:
date.head()

0    2021-07-06
1    2021-07-02
2    2021-07-01
3    2021-06-30
4    2021-06-29
Name: Date, dtype: object

In [9]:
close.describe()

count    5454.000000
mean      174.747033
std       157.542041
min        13.120000
25%        63.885000
50%       124.390000
75%       215.887500
max       702.100000
Name: Close, dtype: float64

In [11]:
# Growth from earliest to most recent
close[0] - close[len(close) - 1]

64.4