In [2]:
# exploratory analysis

In [3]:
# Stats of interest:
# Greatest volatility one day?
# Num records
# Avg close
# Avg volatility one day
# Growth (total, 1yr, 5yr, etc)

In [4]:
import pandas as pd

In [5]:
rs = pd.read_csv("stock_market_data-AAPL.csv", index_col=0)

In [6]:
rs = rs.reindex(index=rs.index[::-1])

In [7]:
rs.head()

         Date    Low   High  Close   Open
0  1999-11-01  77.37  80.69  77.62  80.00
1  1999-11-02  77.31  81.69  80.25  78.00
2  1999-11-03  81.00  83.25  81.50  81.62
3  1999-11-04  80.62  85.37  83.62  82.06
4  1999-11-05  84.00  88.37  88.31  84.62

In [8]:
avg_close = rs["Close"].mean()

In [9]:
avg_close

174.74703307664052

In [10]:
len(rs)

5454

In [11]:
date, close, ope = rs["Date"], rs["Close"], rs["Open"]

In [12]:
min(date), max(date)

('1999-11-01', '2021-07-06')

In [13]:
date.head()

0    1999-11-01
1    1999-11-02
2    1999-11-03
3    1999-11-04
4    1999-11-05
Name: Date, dtype: object

In [14]:
close.describe()

count    5454.000000
mean      174.747033
std       157.542041
min        13.120000
25%        63.885000
50%       124.390000
75%       215.887500
max       702.100000
Name: Close, dtype: float64

In [15]:
# Growth from earliest to most recent
close[len(close) - 1] - close[0]

64.4

In [16]:
# Average volatility in a day

In [17]:
day_delta = close - ope
day_delta.head()

0   -2.38
1    2.25
2   -0.12
3    1.56
4    3.69
dtype: float64

In [18]:
day_delta.mean(), day_delta.median()

(-0.014265511551154738, 0.039999999999995595)

In [19]:
# Delta day to day

In [20]:
delta_l = []
for i in range(1, len(close)):
    delta_l.append((close[i] - close[i - 1]) / close[i])
delta = pd.Series(delta_l)
delta.head()

0    0.032773
1    0.015337
2    0.025353
3    0.053108
4    0.083636
dtype: float64

In [21]:
delta.describe()

count    5453.000000
mean       -0.001353
std         0.094810
min        -5.889755
25%        -0.010479
50%         0.000887
75%         0.013064
max         0.122075
dtype: float64

In [22]:
delta.median()

0.0008872188299150144

In [23]:
# This is telling me the mean delta is negative, but the median is positive? That's interesting. And I think ok -
# 50% of the data points above, 50% below. And the 75% quartile is .013 and the 25% quartile is -.010. 
# Though the min is more extreme than the max.
# And also, we don't have every day continuously from the earliest date to the latest date.

In [24]:
# Next Steps: visualization? 
# i.e. visualize the RSMEs

# strip the year of the dates, and then count the frequencies???